/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-glass {
    @apply rounded-3xl;
    @apply shadow-lg;
    @apply shadow-stone-600/40;
    @apply transition-shadow;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .bg-glass-hover {
    @apply bg-glass;
    @apply shadow-2xl;
    @apply shadow-stone-900/90;
  }

  .navlink {
    @apply block text-white text-xl;
  }

  .navlink-hover {
    @apply navlink;
    @apply underline decoration-2 decoration-white/30 underline-offset-8;
  }

  .navlink-active {
    @apply navlink;
    @apply underline decoration-2 decoration-teal-300 underline-offset-8;
  }

  .button {
    @apply bg-teal-300 text-xl leading-7 px-8 py-3 inline-flex items-center rounded-xl;
    @apply transition-colors;
  }

  .button-hover {
    @apply button;
    @apply bg-teal-400;
  }
}

.navlink-home {
  @apply mx-4;
}

.navlink-topbar {
  @apply ml-8;
}

html {
  margin:0;
  padding:0;
}

body {
  margin:0;
  padding:0;
  height:100vh;
  background-image: linear-gradient(135deg, #4158D0 0%, #e35637 46%, #FFCC70 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
}