.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown ol {
  @apply px-5;
  list-style: decimal;
}
.markdown ul {
  @apply px-5;
  list-style: inherit;
}
.markdown ul p,
.markdown ol p {
  @apply my-0;
}

.markdown h1 {
  @apply text-4xl mb-8 leading-snug;
}

.markdown h2 {
  @apply text-3xl mb-8 leading-snug;
}

.markdown h3 {
  @apply text-2xl mb-4 leading-snug;
}

.markdown a {
  @apply underline text-stone-700;
}